:root {
	--bg: #8a9ea0;
	--fr: #fffaf0;
	--main: #ffbb40;
	--mainD: #f2b037;
	--sec: #897c70;
}

body {
	background-color: var(--bg);
	color: var(--fr);
}
button {
	cursor: pointer;
	background-color: var(--main);
	border-radius: 2vw;
}
button:hover {
	background-color: var(--mainD);
}
.join {
	font-size: 10rem;
	border: none;
	padding: 3vw;
	margin: 0 auto;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
}
